<div>

  <h4>{{datetype | capitalize}} date</h4>
  <div class="row">
      <div class="col-md-6">
          <p class="input-group">
            <input type="text" class="form-control" datepicker-popup="{{dp.format}}" ng-model="dp.dt" is-open="dp.opened" min-date="dp.minDate" max-date="'2015-06-22'" datepicker-options="dp.dateOptions" date-disabled="dp.disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="dp.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
      </div>
  </div>
  <hr />
  <button type="button" class="btn btn-sm btn-info" ng-click="dp.today()">Today</button>
</div>