<!DOCTYPE html>
<html>
  <head>
    <title>Assignment Calculator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/asscalc.js"></script>
  </head>
  <body ng-app="asscalc">
    <div ng-controller="ScheduleCtrl as sched" >
      <form name="scheduleForm" ng-submit="sched.createschedule()" ng-hide="sched.datescollected">
        <assignment-date datetype="start" ></assignment-date>
        <assignment-date datetype="end" ></assignment-date>
        <input type="submit" class="btn btn-primary pull-right" value="Create Schedule" />
      </form>
      <div ng-show="sched.datescollected">
        <h1>Assignment starts {{ startdate | date }}</h1>

          <div ng-repeat="task in sched.tasks">
            <h2>{{ task.title }}</h2>
            <div ng-repeat="section in task.sections">
              <h3>{{ section.title }}</h3>
              <p>{{ section.description }}</p>
              <div ng-repeat="link in section.links">
                <li><a>{{ link.text }}</p>
              </div>
            </div>
          </div>

        <h1>Deadline {{ enddate | date }}</h1>
      </div>
    <div>
  </body>
</html>