<!DOCTYPE html>
<html>
  <head>
    <title>Assignment Calculator</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="js/asscalc.js"></script>
    <link rel="stylesheet" href="css/asscalc.css">
    <!--[if lte IE 9]>
      <link rel="stylesheet" type="text/css" href="css/ie-only.css">
    <![endif]-->
  </head>
  <body ng-app="asscalc">
    <div class="ie-notice">
      <h1>Extremely old browser</h1>
      <p>Sorry, this web browser is quite a long way out of date, and will not allow the assignment calculator to run.</p>
      <p>To use the calculator, try a new version of <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a href="https://www.google.com/chrome/browser/">Google Chrome</a>, or if you really have to use Internet Explorer then versions 10 and upwards should work fine.</p>
      <p><em style="font-size: 0.8em;">If this is an institutional machine that you cannot update yourself, check for another browser, and please let the institution know it needs updating.</em></p>
      <p>If you would like to see how the calculator works, here is a <a href="https://vimeo.com/107704590">screencast</a> demonstrating it's use.</p>
    </div>
    <div ng-controller="ScheduleCtrl as sched" class="container">
          
      <form name="scheduleForm" ng-submit="createschedule()" ng-hide="datescollected">
        <h1>Assignment Calculator</h1>

        <p>Enter the start and end dates for your assignment below and this tool will give you a simple breakdown of the assignment into sections, with a suggested completion date for each, and some useful resources to help with various aspects of an assignment.</p>

        <assignment-date datetype="start"></assignment-date>
        <assignment-date datetype="end" ></assignment-date>
        <input type="submit" class="btn btn-primary pull-left btn-lg" value="Create Schedule" />
      </form>

      <section ng-show="datescollected">
        <span class="pull-right"><em>Bookmark this page</em></span>
        <h1>Assignment Schedule</h1>
        <button class="btn btn-default pull-right" ng-click="clearDates()">Start Again</button>
        <h2>Assignment starts <em>{{ startdate | date }}</em></h2>

            <div class="task task-{{ $index }} well" ng-repeat="task in tasks">
              <div ng-click="task.isCollapsed = !task.isCollapsed">
                <h3>
                  <span  ng-class="{'glyphicon-chevron-right':task.isCollapsed, 'glyphicon-chevron-down':!task.isCollapsed}" class="glyphicon"></span>
                  <a>{{ task.title }}</a>
                  <a class="date pull-right">{{ task.date|date }}</a>
                </h3>   
              </div>
              <div class="task-sections" collapse="task.isCollapsed">
                <div ng-repeat="section in task.sections" class="task-section">
                  
                  <h4>{{ section.title }}</h4>
                  <p>{{ section.description }}</p>
                  <ul>
                    <li ng-repeat="link in section.links"><a href="{{ link.url }}">{{ link.title }}</a></li>
                  </ul>
                </div>
              </div>
            </div>

        <h1 class="deadline">Deadline <em>{{ enddate | date }}<em></h1>
      </section>
    <div>
  </body>
</html>